<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @talent.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @talent.img %>
</p>

<p>
  <strong>Body:</strong>
  <%= @talent.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @talent.category %>
</p>

<%= link_to 'Edit', edit_talent_path(@talent) %> |
<%= link_to 'Back', talents_path %>
