<div style="background:#228C3A" class="b-30">
  <div class="contenedor-formulario ">
    <h1 style="text-align:center;">¡Bienvenido a nuestra página!</h1>
    <p style="text-align:center;" class="big-p">Por favor, Ingresa tu cuenta</p>
    <div class="wrap">
      <!--- Formulario de Inicio de sesion --->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div>
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, id: "email" %>
            <%= f.label "Correo:", for: "email", class: "label" %>
          </div>

          <div class="input-group">
            <%= f.password_field :password, autocomplete: "off", id: "password" %>
            <%= f.label "Contraseña:", for: "password", class: "label"%>
          </div>

          <div class="input-group checkbox">

            <% if devise_mapping.rememberable? -%>

                <%= f.check_box :remember_me %>
                <%= f.label "Recuerda me" %>

            <% end -%>
          </div>

        </div>

        <%= f.button "Iniciar sesión", id: "btn-submit", class: "btn btn-outline-success botton-15 b-w100", value: "Enviar" %>

        <% end %>

      <%= render "admins/shared/links" %>
    </div>
  </div>
</div>
