<div class="col-md-4 botton-15">
        <div class="card">
          <%= image_tag("Prueba.jpg", class: "card-img-top") %>
          <div class="card-body">
            <%= link_to x do %>
              <h4 class="card-title"><%= x.title %> <small class="col text-muted small-p"> fecha DD/MM/AAA </small> </h4>
            <%end%>

            <hr>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <div class="row">
              <div class="col-sm">
                <a href="#" style="margin-top: 10px;"  class="btn btn-success">Go somewhere</a>
              </div>
              <div class="col-sm">
                <%= link_to edit_news_path(x), style: "margin-top: 10px;", class:"btn btn-outline-dark"  do %>
                  <%= ion_icon "edit"%>
                <% end %>
                <%= link_to x, method: :delete, :class => "btn btn-outline-danger", :style => "margin-top: 10px;", :type => "button" do %>
                  <%= ion_icon "trash-b"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
</div>
