<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_path, :class => "" do %>
    <%= image_tag('logo.png' ,:class => "", :width => "120") %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100">
      <li class="nav-item active">
        <%= link_to root_path, :class => "nav-link" do %>
        <ion-icon name="home"></ion-icon>
        Inicio
        <% end %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ion-icon name="aperture"></ion-icon>
         Galeria
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to videos_path, :class => "dropdown-item" do %>
          <ion-icon name="film"></ion-icon>
           Videos
          <% end %>
          <%= link_to photos_path, :class => "dropdown-item" do %>
          <ion-icon name="images"></ion-icon>
             Imagenes
          <% end %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ion-icon name="folder"></ion-icon>
          Información
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to information_index_path, :class => "dropdown-item" do %>
            <ion-icon name="school"></ion-icon>
            Horizonte Institucional
          <% end %>
          <%= link_to teachers_path, :class => "dropdown-item" do %>
             <ion-icon name="people"></ion-icon>
             Talento Humano
          <% end %>
        </div>
      </li>

      <li class="nav-item">
        <%= link_to contact_us_path, :class => "nav-link" do %>
           <ion-icon name="send"></ion-icon>
           Contactanos
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to pei_index_path, :class => "nav-link" do %>
           <ion-icon name="filing"></ion-icon>
           PEI
        <% end %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Otros
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to newspapers_path, :class => "dropdown-item" do %>
          <ion-icon name="paper"></ion-icon>
           Periodico
          <% end %>
          <%= link_to news_index_path, :class => "dropdown-item" do %>
            <ion-icon name="megaphone"></ion-icon>
             Noticias
          <% end %>
        </div>
      </li>

      <% if user_signed_in? %>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to newspapers_path, :class => "dropdown-item" do %>
                Perfil
              <% end %>

              <div class="dropdown-divider"></div>

              <%= link_to destroy_user_session_path, :method=>'delete', :class => "dropdown-item " do %>
                 Salir
              <% end %>
            </div>
          </li>

      <%else%>

      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Iniciar Sesion
          </button>
          <div class="dropdown-menu">
            <form class="px-4 py-3">
              <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
              </div>
              <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                  Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">New around here? Sign up</a>
            <a class="dropdown-item" href="#">Forgot password?</a>
          </div>
        </div>
      </li>

      <% end %>

      <% if admin_signed_in? %>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to newspapers_path, :class => "dropdown-item" do %>
                 Perfil
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to newspapers_path, :class => "dropdown-item" do %>
               Horizonte Institucional
              <% end %>
              <%= link_to new_teacher_path, :class => "dropdown-item" do %>
                 Talento Humano
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to news_index_path, :class => "dropdown-item " do %>
                 Configuraciones
              <% end %>
              <%= link_to destroy_admin_session_path, :method=>'delete', :class => "dropdown-item " do %>
                 Salir
              <% end %>
            </div>
          </li>

      <% end %>

    </ul>
  </div>
</nav>
