<%= render "partials/title" %>

<div class="container" >

  <%= form_for(x) do |f| %>
  <% x.errors.full_messages.each do |message| %>

      <div class="">
        * <%= message %>
      </div>
    <%end%>

      <div class="form_group" style="margin-top: 30px">
        <label for="InputEmail1"><strong>NOMBRE DEL ARTÍCULO</strong></label>
        <%= f.text_field :title, placeholder: "Titulo del articulo", class: "full-width"%>
      </div>
      <div class="form_group" style="margin-top: 5px">
        <label for=""><strong>Imagen</strong></label>
        <%= f.text_field :img, placeholder: "Imagen principal", class: "full-width"%>
      </div>
      <div class="" style="margin-top: 5px">
        <label for=""><strong>cuerpor del artículo</strong></label>
        <%= f.cktext_area :body, placeholder: "Titulo del articulo", class: "full-width"%>
      </div>
      <div class="d-flex justify-content-end" style="margin-top: 7px">
        <%= f.submit "Guardar", class: "btn btn-info" %>

      </div>
    <%end%>
</div>
