<div class="carousel-inner  botton-15", style="max-height: 350px;">
  <%= image_tag("Prueba.jpg", class: "title_img img-fluid") %>  <%= ion_icon "plu  <%= ion_icon "plus-round" %>  <%= ion_icon "plus-round" %>  <%= ion_icon "plus-round" %>  <%= ion_icon "plus-round" %>  <%= ion_icon "plus-round" %>  <%= ion_icon "plus-round" %>  <%= ion_icon "plus-round" %>s-round" %>
  <div class="title_p2">
    <div class="">
      <h4 class="display-4"> Titulo de la seccion </h4>
      <p class="big-p2" style="text-align: center;"> Texto del la seccion </p>
      <a href="#" class="btn btn-info">Ver</a>

      <% if  admin_signed_in? %>
      <div class="d-flex flex-row-reverse">
        <%= link_to y, style: "margin-right: 20px; margin-top: 20px;", class: "btn btn-primary"  do %>
        <ion-icon name="add"></ion-icon>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>
</div>
