<%= form_for(achivement) do |f| %>
  <% if achivement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(achivement.errors.count, "error") %> prohibited this achivement from being saved:</h2>

      <ul>
      <% achivement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :icon %>
    <%= f.text_field :icon %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.number_field :category %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
