<div class="">
  <%= render "partials/title2" %>
</div>

<div class="container">

  <div class="top-30">
    <h1>Periodico</h1>
    <hr>

    <div class="newspapers">
      <div class="">
        <div class="left-margin media  d-flex flex-wrap">
          <%= image_tag("Prueba.jpg", class: "mr-3 img_NP img-thumbnail rounded d-block botton-15") %>

          <div class="media-body text">
            <h1 class="">title
              <small class="col text-muted small-p"> fecha DD/MM/AAA </small>
            </h1>
            <hr>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <%= link_to "#", :class => "d-flex justify-content-end" do %>
              <button type="button" class="btn btn-info">Info</button>
            <% end %>
          </div>

        </div>
        <hr class="width: 100%;", style="margin-top:35px;margin-bottom:35px;">
      </div>

      <div class="">
        <div class="left-margin media  d-flex flex-wrap">
          <%= image_tag("Prueba.jpg", class: "mr-3 img_NP img-thumbnail rounded d-block botton-15") %>

          <div class="media-body text">
            <h1 class="">title
              <small class="col text-muted small-p"> fecha DD/MM/AAA </small>
            </h1>
            <hr>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <%= link_to "#", :class => "d-flex justify-content-end" do %>
              <button type="button" class="btn btn-info">Info</button>
            <% end %>
          </div>

        </div>
        <hr class="width: 100%;", style="margin-top:35px;margin-bottom:35px;">
      </div>

      <div class="">
        <div class="left-margin media  d-flex flex-wrap">
          <%= image_tag("Prueba.jpg", class: "mr-3 img_NP img-thumbnail rounded d-block botton-15") %>

          <div class="media-body text">
            <h1 class="">title
              <small class="col text-muted small-p"> fecha DD/MM/AAA </small>
            </h1>
            <hr>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <%= link_to "#", :class => "d-flex justify-content-end" do %>
              <button type="button" class="btn btn-info">Info</button>
            <% end %>
          </div>

        </div>
        <hr class="width: 100%;", style="margin-top:35px;margin-bottom:35px;">
      </div>
    </div>
  </div>
</div>
