<!DOCTYPE html>
<html>
  <head>
    <title>Version31</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/ionicons@4.1.0/dist/css/ionicons.min.css" rel="stylesheet">
  </head>

  <body>

    <!--
    <% flash.each do |key, value| %>
       <div class="alert alert-<%= key %> alert-dismissable">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
           <%= value %>
       </div>
     <% end %>
    -->

    <!-- Inicio del Nav -->
    <%= render "partials/navbar" %>
    <!-- Fin del Nav -->

    <div class="top-container">
    <%= yield %>

    <!-- Inicio de Footer -->

    <%= render "partials/footer" %>
    <!-- Fin de Footer -->
    </div>
    <script src="https://unpkg.com/ionicons@4.1.0/dist/ionicons.js"></script>
  </body>
</html>
